<ul class="off-canvas-list" > 
  <li><a href="/index" class="button alert">（學生會）</a></li>
  <li><a href="/regsoc">屬下團體登記</a></li>
  <li><a href="/socinfo">屬下團體資料列表</a></li>
  <li><a href="/post_notice">張貼公告</a></li>
  <li><a href="/email">發送郵件</a></li><br/></br/>
  <li><a href="#" class="button secondary"><div id="google_translate_element"></div> </a></li>
  <li><a href="/logout" class="button">登出 </a></li>
  
</ul> 

