<% include header %>

<br>

<div class="row">

	<div class="medium-12 columns">
		<h1>表格 1 - 屬下團體資料</h1>
	
			<labal>屬會名稱
				<input type="text" name="socname" value="<%= Soc.soc_name %>" disabled>
			</labal>
			<labal>團體性質
				<select name="type" disabled>
					<option value="dept" <% if( Soc.soc_type =='dept') {%> selected <% } %>>系會</option>
					<option value="facu" <% if( Soc.soc_type =='facu') {%> selected <% } %>>院會</option>
					<option value="club" <% if( Soc.soc_type =='club') {%> selected <% } %>>屬會</option>
					<option value="approved" <% if( Soc.soc_type =='approved') {%> selected <% } %>>認可會社</option>
				</select>
			</labal>
	
			<labal>會員人數
				<input type="number" name="num_of_mem"  value="<%= Soc.num_of_mem %>">
			</labal>
			<labal>
				<a href="/files/<%= Soc.mem_list_url%>">會員名單/系方發出之人數證明信 </a>
			</labal>
	</div>
</div>

