<% include header %>


<div class="row">

	<div class="medium-12 columns">
	<form action="/submit_regsocform" method="post" enctype="multipart/form-data">

	<input type="hidden" name="soc_code" value="<%=soc_code%>">
			<h1>審議表格</h1>
<h5>表格1 屬下團體基本資料</h5>
	<div class="switch radius">
		<% if(info[0].form1=="on") { %>
  			<input id="form1" type="checkbox" name="form1" checked>
  		<% }else{ %>
  			<input id="form1" type="checkbox" name="form1">
  		<% } %>
 		<label for="form1">表格1 屬下團體基本資料</label>
	</div> 
<h5>表格2  幹事會資料</h5>
	<div class="switch radius">
		<% if(info[0].form2=="on") { %>	
  			<input id="form2" type="checkbox" name="form2" checked>
  		<% }else{ %>
  			<input id="form2" type="checkbox" name="form2">
  		<% } %>
 		<label for="form2">表格2 幹事會資料</label>
	</div>

<h5>表格3A 去屆工作報告</h5>
	<div class="switch radius">
		<% if(info[0].form3a=="on") { %>
  			<input id="form3A" type="checkbox" name="form3A" checked>
  		<% }else{ %>
  			<input id="form3A" type="checkbox" name="form3A">
  		<% } %>
 		<label for="form3A">表格3A 去屆工作報告</label>
	</div> 
<h5>表格3B 去屆財政報告</h5>
	<div class="switch radius">
		<% if(info[0].form3b=="on") { %>
  			<input id="form3B" type="checkbox" name="form3B" checked>
  		<% }else{ %>
  			<input id="form3B" type="checkbox" name="form3B">
  		<% } %>
 		<label for="form3B">表格3B 去屆財政報告</label>
	</div>
<h5>表格3C 現屆工作計劃</h5>
	<div class="switch radius">
		<% if(info[0].form3c="on") { %>
  			<input id="form3C" type="checkbox" name="form3C" checked>
  		<% }else{ %>
  			<input id="form3C" type="checkbox" name="form3C">
  		<% } %>
 		<label for="form3C">表格3C 現屆工作計劃</label>
	</div> 
<h5>表格3D 現屆財政預算</h5>
	<div class="switch radius">
		<% if(info[0].form3d=="on") { %>
  			<input id="form3D" type="checkbox" name="form3D" checked>
  		<% }else{ %>
  			<input id="form3D" type="checkbox" name="form3D">
  		<% } %>
 		<label for="form3D">表格3D 現屆財政預算</label>
	</div>
<h5>表格4 附加資料</h5>
	<div class="switch radius">
		<% if(info[0].form4=="on") { %>
  			<input id="form4" type="checkbox" name="form4" checked>
  		<% }else{ %>
  			<input id="form4" type="checkbox" name="form4">
  		<% } %>
 		<label for="form4">表格4 附加資料</label>
	</div>

備註
	<textarea name="note" id="note" style="height:200px;"><%= info[0].note %></textarea>
		

		<h5>審議結果</h5>
	<div class="switch radius">
		<% if(info[0].overall=="on") { %>
  			<input id="overall" type="checkbox" name="overall" checked>
  		<% }else{ %>
  			<input id="overall" type="checkbox" name="overall">
  		<% } %>
 		<label for="overall">審議結果</label>
	</div>


		<input type="submit" value="更新" class="button">
		</form>

	</div>
</div>