<% include header %>
<div class="row">
	<div class="medium-12 columns">
		
		<form action="/submit_form3" method="post" enctype="multipart/form-data">
			<input type="hidden" name="reportType" value="<%= reportType %>"></input>
			<input type="hidden" id="method" name="method" value="other"></input>
			<labal><h1> 表格 3 -
					<% if(reportType=="report"){ %>
						<a href="files<%=rsd.report_url%>"> 去屆工作報告</a>
					<% }else if(reportType=="financialReport") { %>
						<a href="files<%=rsd.financial_report_url%>"> 去屆財政報告</a>
					<% }else if(reportType=="yearPlan") { %>
						<a href="files<%=rsd.year_plan_url%>"> 現屆工作計劃</a>
					<% }else if(reportType=="budget") { %>
						<a href="files<%=rsd.budget_url%>"> 現屆財政預算</a>
					<% } %></h1>

			</labal>
			<% if(motion.type=="vote"){ %>
				<h3>全民投票</h3>
			<% }else if(motion.type=="meeting") { %>
				<h3>會員大員</h3>
			<% }else{ %>
				<h3>其他</h3>
			<% } %>

		 <% if(motion.type=="vote"){%> 
			<div class="content" id="vote">
			   
			   <labal>議案
				<input name="motion" type="text" value="通過<%= whichForm %>" disabled>
			</labal>

			投票日期（開始日）<span style="color:#999" >格式：yyyy/mm/dd</span>
			<input type="text" name="voteDateStart" disabled value="<%=record.poll_start_date.getFullYear()%>/<%=(record.poll_start_date.getMonth()+1)%12 %>/<%=record.poll_start_date.getDay()%>">
			投票日期（結束日）<span style="color:#999" >格式：yyyy/mm/dd</span>
			<input type="text" name="voteDateEnd" disabled value="<%=record.poll_end_date.getFullYear()%>/<%=(record.poll_end_date.getMonth()+1)%12 %>/<%=record.poll_end_date.getDay()%>">
			投票日程 <span style="color:#999">需列明日期、時間、地點</span>
			<textarea name="voteInfo" >disabled <%=record.poll_detail%></textarea>
			投票方式
			<input name="voteMethod" type="text" disabled value="<%=record.poll_method%>">
			<!-- 選票樣式
			<input type="file" name="vote_temp" disabled value="<%=record.elect_commitee%>"> -->
			選舉委員會成員名單 <span style="color:#999">需列明成員之中英文姓名、院系級、學生編號</span>
				<textarea name="commiteeOfElection"> disabled <%=record.elect_commitee%></textarea>
			<br>
		
			監票人
			<div class="row">
				<div class="columns medium-6">
					<label>監票人名稱<input type="text" name="Name" disabled value="<%=record.scrutineer_name%>"></label>
				</div>
				<div class="columns medium-6">
					<label>身份／院系級<input type="text" name="Position" disabled value="<%=record.scrutineer_info%>"></label>
				</div>
				
			</div>
				參與人數
				<div class="row">

				<div class="columns medium-4">
					<label>基本會員人數<input type="number" name="totalNoOfPeople" disabled value="<%=motion.no_of_member%>"></label>
				</div>
				<div class="columns medium-4">
					<label>合法最少人數<input type="number" name="minVote" disabled value="<%=motion.legal_mini_no%>"></label>
				</div>
				<div class="columns medium-4">
					<label>在席人數<input type="number" name="noOfVote" disabled value="<%=motion.no_of_vote%>"></label>
				</div>
			</div>
				票數
			<div class="row">
				<div class="columns medium-3">
					<label>贊成<input type="number" name="agree" disabled value="<%=motion.no_of_agr%>"></label>
				</div>
				<div class="columns medium-3">
					<label>反對<input type="number" name="object" disabled value="<%=motion.no_of_opp%>"></label>
				</div>
				<div class="columns medium-3">
					<label>棄權 <input type="number" name="wive" disabled value="<%=motion.no_of_abs%>"></label>
				</div>
				<div class="columns medium-3">
					<label>廢票 <input type="number" name="void" disabled value="<%=motion.no_of_inv%>"></label>
				</div>
			</div>
			議案結果 
			<select name="result">
				<option> <% if(motion.status=="pass"){%>  通過  <% }else{ %> 否決<% } %></option>
				
			</select>

			  </div>
			  <% }%>

			  <% if(motion.type=="meeting"){%>

			   <div class="content" id="meeting">
			    			   <labal>議案
				<input name="motion" type="text" value="通過<%= whichForm %>" disabled>
			</labal>

			召開日期、時間<span style="color:#999" >格式：yyyy/mm/dd</span>
			<input type="text" name="meetingTime" value="<%=record.datetime.getFullYear()%>/<%=(record.datetime.getMonth()+1)%12%>/<%=record.datetime.getDate()%>"    >
 			地點
			<input name="meetingVen" type="text" <% if(motion.type=="meeting"){%>value="<%=record.location%>"<%}%> >

			會議主席
			<div class="row">
				<div class="columns medium-6">
					<label>姓名<input type="text" name="Name" <% if(motion.type=="meeting"){%>value="<%=record.chairman_name%>"<%}%> ></label>
				</div>
				<div class="columns medium-6">
					<label>院系級<input type="text" name="Position"  <% if(motion.type=="meeting"){%>value="<%=record.chairman_info%>"<%}%> ></label>
				</div>
				
			</div>
參與人數
			<div class="row">

				<div class="columns medium-4">
					<label>基本會員人數<input type="number" name="totalNoOfPeople" <% if(motion.type=="meeting"){%>value="<%=motion.no_of_member%>"<%}%>></label>
				</div>
				<div class="columns medium-4">
					<label>合法最少人數<input type="number" name="minVote" <% if(motion.type=="meeting"){%>value="<%=motion.legal_mini_no%>"<%}%>></label>
				</div>
				<div class="columns medium-4">
					<label>在席人數<input type="number" name="noOfVote" <% if(motion.type=="meeting"){%>value="<%=motion.no_of_vote%>"<%}%>></label>
				</div>
			</div>
票數
			<div class="row">
				<div class="columns medium-3">
					<label>贊成<input type="number" name="agree" <% if(motion.type=="meeting"){%>value="<%=motion.no_of_agr%>"<%}%>></label>
				</div>
				<div class="columns medium-3">
					<label>反對<input type="number" name="object" <% if(motion.type=="meeting"){%>value="<%=motion.no_of_opp%>"<%}%>></label>
				</div>
				<div class="columns medium-3">
					<label>棄權 <input type="number" name="wive" <% if(motion.type=="meeting"){%>value="<%=motion.no_of_abs%>"<%}%>></label>
				</div>
				<div class="columns medium-3">
					<label>廢票 <input type="number" name="void" <% if(motion.type=="meeting"){%>value="<%=motion.no_of_inv%>"<%}%>></label>
				</div>
			</div>
			議案結果 
			<select name="result">
				<option value="pass" <% if(motion.type=="meeting" && motion.status=="pass"){%>selected <%}%> >通過</option>
				<option value="fail" <% if(motion.type=="meeting" && motion.status=="fail"){%>selected <%}%> >否決</option>
			</select>
			  </div>
			   <% }%>

				 <% if(motion.type!="vote" && motion.type!="meeting"){%>
			  <div class="content" id="other">
			    <p>請在附加資料註明。</p>
			  </div>
			 <% }%>
			 </div>

		
		</form>
	</div>
</div>

<script>
$( document ).ready(function() {
	$("#l").html(location.href.substr(location.href.indexOf("=^")));
});
</script>
