<% include header %>
<div class="row">

	<div class="medium-12 columns">
		<h1>表格 4 - 附加資料</h1>
				<textarea disabled name="addidtional_info" id="addidtional_info" style="height:400px;" ><%= Soc.note_by_exco %></textarea>
	</div>
</div>
