<% include header %>
<br/>
	<div class="row">
		<div id="contentWrap" class="small-11 small-centered large-8 large-centered columns">
			<div id="chatWrap">
				<div id="chat"></div>
				<form id="send-message">
					<input size="25" id="message"></input><input type="image" src="img/send_button.png" id="send_button" alt="Submit Form" />
				</form>
			</div>
			<div id="users" class="hide-for-small-only"></div>
		</div>
	</div>

	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
	<script>
		jQuery(function($){
			var socket = io.connect();
			var $users = $('#users');
			var $messageForm = $('#send-message');
			var $messageBox = $('#message');
			var $chat = $('#chat');
			var $soc_code = <%- JSON.stringify(user_name) %>;


			if($soc_code!='admin'){
				$users.hide();
			}

			socket.emit('new user', $soc_code, function(data){
					
			});

			socket.on('usernames', function(data){
				var html = '<strong>目前在線：</strong><br/></br>';
				for(i=0; i < data.length; i++){
					html += data[i] + '<br/>'
				}
				$users.html(html);
			});
			
			$messageForm.submit(function(e){
				e.preventDefault();
				socket.emit('send message', $messageBox.val(), function(data){
					$chat.append('<span class="error_message">' + data + "</span><br/>");
					$chat.scrollTop($chat[0].scrollHeight);
				});

				
				$messageBox.val('');
			});
			
			socket.on('load old msgs', function(rows){
				for(var i=0; i < rows.length; i++){
					loadMsg(rows[i].person,rows[i].message,rows[i].chatwith);
				}				
				$chat.scrollTop($chat[0].scrollHeight);
			});

			socket.on('new message', function(data){
				loadMsg(data.nick,data.msg,data.sayTo);

				$chat.scrollTop($chat[0].scrollHeight);
			});

			function loadMsg(sender,msg,toWho){
				if(sender==$soc_code){
					if($soc_code=='admin'){
						$chat.append('<span class="chat_right right"><b>' + sender + ' to '+toWho+': </b>' + msg + "</span><br/>");
					}else{
						$chat.append('<span class="chat_right right"><b>' + sender + ': </b>' + msg + "</span><br/>");
					}
				}
				else
					$chat.append('<span class="chat_left left"><b>' + sender + ': </b>' + msg + "</span><br/>");
			};
		});
	</script>

<% include footer %>