<% include header %>

<br>

<div class="row">

	<div class="medium-12 columns">
		<h1>表格 1 - 屬下團體資料</h1>
		<form action="/submit_form1" method="post" enctype="multipart/form-data">
			<labal>屬會名稱
				<input type="text" name="socname" value="<%= Soc.soc_name %>">
			</labal>
			<labal>團體性質
				<select name="type">
					<option value="dept" <% if( Soc.soc_type =='dept') {%> selected <% } %>>系會</option>
					<option value="facu" <% if( Soc.soc_type =='facu') {%> selected <% } %>>院會</option>
					<option value="club" <% if(Soc.soc_type=='club') {%> selected <% } %>>屬會</option>
					<option value="approved" <% if( Soc.type =='approved') {%> selected <% } %>>認可會社</option>
				</select>
			</labal>
			<labal>上載會章 (*pdf)
				<% if (Soc.constitution_ref_no!=null) { %>
					<a href="/dl?d=<%= Soc.constitution_ref_no %>">檢視現有版本</a>
				<% }else{ %>
					<a href="#">檢視現有版本</a>
				<% } %>
				<input type="file" name="constitution_url">

			</labal>
			<labal>上載會員名單/系方發出之人數證明信 (*pdf)
				<% if (Soc.mem_list_url!=null) { %>
					<a href="/dl?d=<%= Soc.mem_list_url %>">檢視現有版本</a>
				<% }else{ %>
					<a href="#">檢視現有版本</a>
				<% } %>
				<input type="file" name="member_list_url" >

			</labal>

			<labal>會員人數
				<input type="number" name="num_of_mem"  value="<%= Soc.num_of_mem %>">

			</labal>
			<input type="submit" value="更新" class="button">
		</form>
	</div>
</div>

<% include footer %>