<% include header %>
	<div class="row">
	  <div class="large-12 columns">
	  	<H2 style="">
	    	<b>登記指引</b><br>
	    </H2>
	  </div>
	</div>

	<div class="row">
	  	<div class="large-12 columns">
			<dl class="accordion" data-accordion>
				<dd class="accordion-navigation">
					<a href="#panel1a">A. 檢視登記狀態</a>
					<div id="panel1a" class="content active">
						<ul class="clearing-thumbs small-block-grid-4" data-clearing>
						  <li><a href="img/1.jpg"><img data-caption="1. 按下左上角選單按鈕，選按第一選項「週年登記狀態」" src="img/1.jpg"></a></li>
						</ul>
				    </div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel2a">B. 填寫表1</a>
					<div id="panel2a" class="content">
						<ul class="clearing-thumbs small-block-grid-4" data-clearing>
						  <li><a href="img/2.jpg"><img data-caption="1. 按下左上角選單按鈕，選按第二選項「屬下團體資料」進入頁面" src="img/2.jpg"></a></li>
						  <li><a href="img/3.jpg"><img data-caption="2. 請先填寫「屬會名稱」及選擇「屬會性質」" src="img/3.jpg"></a></li>
						  <li><a href="img/4.jpg"><img data-caption="3. 選擇會章及會員名單檔案，選按後請上傳" src="img/4.jpg"></a></li>
						  <li><a href="img/5.jpg"><img data-caption="4. 按下更新按鈕，上傳資料至管理員，完成表1" src="img/5.jpg"></a></li>
						</ul>
			    	</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel3a">C. 填寫表2</a>
					<div id="panel3a" class="content">
						<ul class="clearing-thumbs small-block-grid-4" data-clearing>
						  <li><a href="img/6.jpg"><img data-caption="1. 按下左上角選單按鈕，選按第二選項「幹事會資料」進入頁面，填寫內閣名稱及任期" src="img/6.jpg"></a></li>
						  <li><a href="img/7.jpg"><img data-caption="2. 按下「增加幹事」按鈕，逐一填寫幹事資料，完成一位幹事資料後，請再按「增加幹事」按鈕，以填寫下一名幹事資料，按遞交上傳資料" src="img/7.jpg"></a></li>
						</ul>
			    	</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel4a">D. 填寫表3</a>
					<div id="panel4a" class="content">
						<ul class="clearing-thumbs small-block-grid-4" data-clearing>
						  <li><a href="img/8.jpg"><img data-caption="1. 按下左上角選單按鈕，按選項「表格3A\B\C\D」進入頁面" src="img/8.jpg"></a></li>
						  <li><a href="img/9.jpg"><img data-caption="2. 選擇要上傳的報告檔案" src="img/9.jpg"></a></li>
						  <li><a href="img/10.jpg"><img data-caption="3. 選擇報告通過的方式" src="img/10.jpg"></a></li>
						  <li><a href="img/11.jpg"><img data-caption="4. 按遞交以上傳資料至管理員審核" src="img/11.jpg"></a></li>
						</ul>
			    	</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel5a">E. 補充附加資料</a>
					<div id="panel5a" class="content">
						<ul class="clearing-thumbs small-block-grid-4" data-clearing>
						  <li><a href="img/12.jpg"><img data-caption="1. 按下左上角選單按鈕，按選項「附加資料」進入頁面" src="img/12.jpg"></a></li>
						  <li><a href="img/13.jpg"><img data-caption="2. 請於空格內填寫附加資料內容" src="img/13.jpg"></a></li>
						  <li><a href="img/14.jpg"><img data-caption="3. 按「更新」按鈕以上傳至管理員" src="img/14.jpg"></a></li>
						</ul>
			    	</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel6a">F. 檢視公告</a>
					<div id="panel6a" class="content">
						<ul class="clearing-thumbs small-block-grid-4" data-clearing>
						  <li><a href="img/15.jpg"><img data-caption="1. 浮標滑至右上角，按「公告」進入頁面" src="img/15.jpg"></a></li>
						  <li><a href="img/16.jpg"><img data-caption="2. 按頁面數字以查看不同的公告" src="img/16.jpg"></a></li>
						</ul>
			    	</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel7a">G. 即時訊息</a>
					<div id="panel7a" class="content">
						<ul class="clearing-thumbs small-block-grid-4" data-clearing>
						  <li><a href="img/17.jpg"><img data-caption="1. 按下頁尾「聯絡委員」按鈕" src="img/17.jpg"></a></li>
						  <li><a href="img/19.jpg"><img data-caption="2. 進入即時訊息頁面，與管理員對話，管理員需時回覆，請耐心等候" src="img/19.jpg"></a></li>
						</ul>
			    	</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel8a">H. 登出</a>
					<div id="panel8a" class="content">
					  	<ul class="clearing-thumbs small-block-grid-4" data-clearing>
						  <li><a href="img/18.jpg"><img data-caption="1. 浮標滑至右上角，按「登出」離開" src="img/18.jpg"></a></li>
						</ul>
			    	</div>
				</dd>
			</dl>
		</div>
	</div>
	

	<script>
//addPost()
	
		document.body.style.height==''?document.body.style.height=(document.documentElement.clientHeight +350)+'px':document.body.style.height=(parseInt(document.body.style.height) +350)+'px';
		
	

</script>
<% include footer %>