<!doctype html>
<html class="no-js" lang="zh-tw" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>屬下團體週年登記網上系統</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <!-- jQuery Modal -->
  <link href="css/jQueryModal/jquery.modal.css" type="text/css" rel="stylesheet" />
  <link href="css/jQueryModal/jquery.modal.theme-xenon.css" type="text/css" rel="stylesheet" />
  <link href="css/jQueryModal/jquery.modal.theme-atlant.css" type="text/css" rel="stylesheet" />
  <!-- jQuery Modal -->
  <script src="js/vendor/modernizr.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <meta name="google-translate-customization" content="e11ab40eaa9b1d29-4f73a3eb491f68d8-gb77d663c70714f14-e"></meta>

</head>
<body>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'zh-TW', includedLanguages: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
        <!-- whatever you want goes here -->
        <% if(loginStatus) { %>
        	<% if(IsAdmin) { %>
      			<% include admin/left_nav %>
      		<% } else {%>
      			<% include left_nav %>
      		<% } %>
	  	<% }else{ %>
	  		<ul class="off-canvas-list" > 
        		<li><a href="/" class="button alert">未登入</a></li>
        	</ul>
      	<% } %>
    </aside>

	<header>
		<nav class="top-bar" data-topbar role="navigation">

		  
		<section class="left-small tab-bar" style="border:none">
		  	<a class="left-off-canvas-toggle menu-icon" style="width:34em;">
		 <span>中大學生會屬下團體週年登記網上系統</span>
		  	</a>
		  </section>

 			<ul class="title-area" >
		    <li class="name" >
		      <h1><a href="/index"></a></h1>
		    </li>
		     
		    
		  </ul>
		
		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
		    <ul class="right">
		      <li><a href="/notice">公告</a></li>
		      <li class="active">
		      	
		      	<% if(loginStatus) { %>
		      		<a href="/logout">登出</a>
		      	<% }else{ %>
		      		<a href="/login">登入</a>
		      	<% } %>
 
		      </li>
		    </ul>

		  </section>
		</nav>
	</header>
