<% include header %>

<br>
<div class="row">
	<div class="medium-3 columns" style="background:#EEE;"> 
	</div>
	<div class="medium-9 columns">
		<a href="/notice"><h3>公告</h3></a>
	</div>
</div>

<% include footer %>