<% include header %>
	<form action="" method="post">
		<div class="row">
				<fieldset class="small-6 columns small-centered">
			    	<legend>登入</legend>

			    	<label>登入帳號
			    	  <input type="text" name="user_id" id="user_id">
			    	</label>
			    	<label>密碼
			    	  <input type="password" name="password" id="password">
			    	</label>
			    	
			    	<p>
			    	<div class="g-recaptcha" data-sitekey="6LcCwQMTAAAAAFpqR751YEQ4yT1LwhPvHkunk9dU"></div></p>
                    
			    	
					<div class="row">
				    	<div class="small-6 columns"><input type="submit" value="登入" class="button tiny"></div>
						<div class="small-6 columns"><a href="#" class="button secondary tiny right" data-dropdown="drop2" data-options="align:top">索取屬會帳號</a><div>
					</div>
					<div id="drop2" data-dropdown-content class="f-dropdown medium content" aria-hidden="true" tabindex="-1">
					  <p>請向學生會索取屬會帳號</p>
					</div>
			 	</fieldset>
		 	
	 	</div>
	</form>


	
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/jquery.modal.min.js"></script>
	<script type="text/javascript">
		<% if(loginErrorCode == 1) { %>
			WrongPassword =  function() {
				modal({
					type: 'error',
					title: '密碼錯誤',
					text: '密碼錯誤，請重新輸入！',
					center: false,
				});
			}
			WrongPassword();
		<% } else if(loginErrorCode == 2) {%>
			NoUser =  function() {
				modal({
					type: 'warning',
					title: '沒有此用戶',
					text: '沒有此用戶，請重新輸入！',
					center: false,
				});
			}
			NoUser();
		<% } else if(loginErrorCode == 3) {%>
			NoUser =  function() {
				modal({
					type: 'warning',
					title: 'Recaptcha',
					text: '請剔上Recaptcha！',
					center: false,
				});
			}
			NoUser();
		<% }else{ %>
		<% } %>

	</script>
<% include footer %>