<% include header %>

<br>
<div class="row">
	<div class="medium-12 columns">
		<h1>屬下團體週年登記</h1>
		<table>	
			<tr> 
				<th width="100">編號</th>
				<th width="200">名稱</th>
				<th width="100">登記狀態</th>
				<th width="300"></th>
			</tr>		 
			<% socs.forEach(function(soc){ %>

			<tr>
				<td><%=soc.soc_code%></td> 
					<td><a href="/regsoc1?soc_code=<%=soc.soc_code%>"><%=soc.soc_name%></a></td>
				<% for(var j=0;j<status.length;j++) { %>
					<% if(parseInt(status[j].soc_code)==parseInt(soc.soc_code)) { %>
				
						<% if(status[j].overall=="on") { %>
							<td style="background-color: #43AC6A; color:#FFF">完成</td>
						<% }else if(status[j].overall=="undefined"){ %>	
								<td style="background-color: #f04124;color:#FFF;">拒絕</td>
						<% }else{ %>
							<td style="background-color: #a0d3e8;">處理中</td>
						<% } %>
					<% }else{ %>
						<td style="background-color: #f08a24;color:#FFF">未登記</td>
				<% }

				} %>
				<!-- <td style="background-color: #f08a24;color:#FFF">未登記</td>
				<td style="background-color: #f04124;color:#FFF;">拒絕</td> -->
				<td><a href="/regsoc1?soc_code=<%=soc.soc_code%>">處理登記</a></td>
			</tr>
			<% });%>

			</table>
	</div>
</div>



<% include footer %>